@use "./config" as *;
@use "./mixins" as *;
@use "./functions" as *;
@use "./placeholders" as *;

//
// Breadcrumb Component
//
// Navigation aid that shows the current page location within a site hierarchy.
// Separators are inserted automatically in CSS and can be customized via a variable.
//

@layer components {
  .breadcrumb {
    @extend %component;
    // scss-docs-start breadcrumb-css-vars
    --padding-y: var(--breadcrumb-padding-y, #{$breadcrumb-padding-y});
    --padding-x: var(--breadcrumb-padding-x, #{$breadcrumb-padding-x});
    --gap: var(--breadcrumb-gap, #{$breadcrumb-gap});
    --margin-bottom: var(--breadcrumb-margin-bottom, #{$breadcrumb-margin-bottom});
    @include map-font($breadcrumb-font, breadcrumb);
    --fg-color: var(--breadcrumb-fg-color, #{$breadcrumb-fg-color});
    --bg-color: var(--breadcrumb-bg-color, #{$breadcrumb-bg-color});
    --border-width: var(--breadcrumb-border-width, #{$breadcrumb-border-width});
    --border-color: var(--breadcrumb-border-color, #{$breadcrumb-border-color});
    --border-radius: var(--breadcrumb-border-radius, #{$breadcrumb-border-radius});
    --link-main-color: var(--breadcrumb-link-main-color, #{$breadcrumb-link-main-color});
    --link-hover-color: var(--breadcrumb-link-hover-color, #{$breadcrumb-link-hover-color});
    --divider-width: var(--breadcrumb-divider-width, #{$breadcrumb-divider-width});
    --divider-height: var(--breadcrumb-divider-height, #{$breadcrumb-divider-height});
    --divider-color: var(--breadcrumb-divider-color, #{$breadcrumb-divider-color});
    // scss-docs-end breadcrumb-css-vars

    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    @include exclude-strokes(breadcrumb);
    margin-block-end: var(--margin-bottom);
    list-style: none;
  }

  .breadcrumb-item {
    position: relative;

    + .breadcrumb-item {
      margin-inline-start: calc(var(--gap) + var(--divider-width));

      &::before {
        position: absolute;
        width: var(--divider-width);
        margin-inline-start: calc((var(--gap) + var(--divider-width)) * -1);
        color: var(--divider-color);
        text-align: center;
        content: var(--breadcrumb-divider, escape-svg($breadcrumb-divider));

        [dir="rtl"] & {
          content: var(--breadcrumb-divider-rtl, escape-svg($breadcrumb-divider-rtl));
        }
      }
    }

  }
} // @layer components
