// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

@if $enable-container-classes {
  %container {
    @include make-container();
  }
  // Single container class with breakpoint max-widths
  .container,
  // 100% wide container at all breakpoints
  .container.fluid {
    @extend %container;
  }

  // Responsive containers that are 100% wide until a breakpoint
  @each $breakpoint, $container-max-width in $container-max-widths {
    $infix: breakpoint-prefix($breakpoint, $grid-breakpoints);

    $escaped: if(breakpoint-min($breakpoint, $container-max-widths) == null, "", ".#{$breakpoint}");
    // $escaped: $breakpoint;
    @if str-slice(#{$breakpoint}, 1, 1) == "2" {
      $escaped: ".\\32 " + str-slice(#{$breakpoint}, 2);
    }


    .container#{$escaped} {
      @extend %container;
    }

    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      %responsive-container-#{$breakpoint} {
        max-width: $container-max-width;
      }

      // Extend each breakpoint which is smaller or equal to the current breakpoint
      $extend-breakpoint: true;

      @each $name, $width in $grid-breakpoints {
        @if ($extend-breakpoint) {
          $escaped: if(breakpoint-min($name, $container-max-widths) == null, "", ".#{$name}");
          @if str-slice(#{$name}, 1, 1) == "2" {
            $escaped: ".\\32 " + str-slice(#{$name}, 2);
          }
          .container#{$escaped} {
            @extend %responsive-container-#{$breakpoint};
          }

          // Once the current breakpoint is reached, stop extending
          @if ($breakpoint == $name) {
            $extend-breakpoint: false;
          }
        }
      }
    }
  }
}
