//
// Image Utilities
//
// Opt-in responsive image and thumbnail classes. The .image-fluid class makes
// images scale to fit their containers without exceeding their intrinsic size.
//

.image {
  &.fluid {
    @include image-fluid();
  }
  // Image thumbnails
  &.thumbnail {
    padding: $thumbnail-padding;
    background-color: $thumbnail-bg;
    border: $thumbnail-border-width solid $thumbnail-border-color;
    @include border-radius($thumbnail-border-radius);
    @include box-shadow($thumbnail-box-shadow);

    // Keep them at most 100% wide
    @include image-fluid();
  }
}

//
// Figures
//

.figure {
  // Ensures the caption's text aligns with the image.
  display: inline-block;
}

.figure-image {
  margin-bottom: $spacer * .5;
  line-height: 1;
}

.figure-caption {
  @include font-size($figure-caption-font-size);
  @include line-height();
  color: $figure-caption-color;
}
