@use "./config" as *;
@use "./mixins" as *;
@use "./rfs" as *;
@use "./placeholders" as *;

//
// Toast Component
//
// Lightweight non-blocking notification that appears temporarily.
// Supports autohide, stacking, and positioning via a toast container.
//

@layer components {
  .toast {
    // scss-docs-start toast-css-vars
    --padding-y: var(--toast-padding-y, #{$toast-padding-y});
    --padding-x: var(--toast-padding-x, #{$toast-padding-x});
    --spacing: var(--toast-spacing, #{$toast-spacing});
    --max-width: var(--toast-max-width, #{$toast-max-width});
    @include clamp($toast-font-size, --font-size);
    --fg-color: var(--toast-fg-color, #{$toast-fg-color});
    --bg-color: var(--toast-bg-color, #{$toast-bg-color});
    --border-width: var(--toast-border-width, #{$toast-border-width});
    --border-color: var(--toast-border-color, #{$toast-border-color});
    --border-radius: var(--toast-border-radius, #{$toast-border-radius});
    --box-shadow: var(--toast-box-shadow, #{$toast-box-shadow});
    --header-fg-color: var(--toast-header-fg-color, #{$toast-header-fg-color});
    --header-bg-color: var(--toast-header-bg-color, #{$toast-header-bg-color});
    --header-border-color: var(--toast-header-border-color, #{$toast-header-border-color});
    // scss-docs-end toast-css-vars

    @extend %component;

    display: flex;
    flex-direction: column;
    width: var(--max-width);
    max-width: 100%;
    overflow: hidden;
    pointer-events: auto;
    @include box-shadow(var(--box-shadow));

    &.translucent {
      @extend %translucent;
    }

    &.showing {
      opacity: 0;
    }

    &:not(.show) {
      display: none;
    }

  }

  .toast-container {
    // scss-docs-start toast-container-css-vars
    --zindex: var(--toast-zindex, #{$zindex-toast});
    // scss-docs-end toast-container-css-vars
    position: absolute;
    z-index: var(--zindex);
    width: max-content;
    max-width: 100%;
    pointer-events: none;

    > :not(:last-child) {
      margin-block-end: var(--spacing);
    }
  }

  .toast-header {
    display: flex;
    align-items: center;
    padding: var(--padding-y) var(--padding-x);
    color: var(--header-fg-color);
    background-color: var(--header-bg-color);
    border-block-end: var(--border-width) solid var(--header-border-color);
    @include border-top-radius(calc(var(--border-radius) - var(--border-width)));
    @include gradient();

    > .close-button {
      --close-button-fg-color: var(--header-fg-color);
      margin-inline: var(--space-xsmall) calc(-.5 * var(--padding-x));
    }
  }

  .toast-footer {
    display: flex;
    gap: var(--padding-y);
    padding: var(--padding-x);
    border-block-start: var(--border-width) solid var(--header-border-color);
    @include border-bottom-radius(calc(var(--border-radius) - var(--border-width)));
  }

  .toast-body {
    padding: var(--padding-x);
    word-wrap: break-word;
  }
} // @layer components
