@use "../../mixins" as *;

@include describe("../../scss/utilities/api") {
  @include it("generates utilities for each breakpoints") {
    $test-utilities: (
      margin: (
        property: margin,
        important: true,
        values: (auto: auto)
      ),
      padding: (
        property: padding,
        important: true,
        responsive: true,
        values: 1rem
      ),
      font-size: (
        property: font-size,
        important: true,
        class: font,
        values: (lg: 1.25rem),
        print: true
      )
    );

    $test-breakpoints: (
      xs: 0,
      sm: 333px,
      md: 666px
    );

    @include assert() {
      @include output() {
        @include generate-utilities-loop($test-utilities, $test-breakpoints);
      }

      @include expect() {
        // margin is not set to responsive
        .margin-auto {
          margin: auto !important;
        }

        // padding is, though
        .padding {
          padding: 1rem !important;
        }

        .font-lg {
          font-size: 1.25rem !important; // stylelint-disable-line
        }

        @media (width >= 333px) {
          .sm\:padding {
            padding: 1rem !important;
          }
        }

        @media (width >= 666px) {
          .md\:padding {
            padding: 1rem !important;
          }
        }

        @media print {
          .print\:font-lg {
            font-size: 1.25rem !important; // stylelint-disable-line
          }
        }
      }

    }
  }
}
