// Import necessary files for the tests
@use "../../rfs" as *;
@use "../../mixins" as *;

// Create a test font map for the mixin tests
$test-font-map: (
  "font-family": var(--font-family-test),
  "font-weight": var(--font-weight-test),
  "font-size": var(--font-size-test),
  "line-height": var(--line-height-test),
  "font-style": normal,
  "letter-spacing": 0,
  "margin-bottom": 0rem,
  "text-transform": none,
  "text-decoration": none
) !default;

// stylelint-disable property-disallowed-list

@include describe("map-font mixin") {
  @include it("creates font variables for a compnent") {
    @include assert() {
      @include output() {
        .test-map-font-component-and-element {
          @include map-font($test-font-map, "component");
        }
      }
      @include expect() {
        .test-map-font-component-and-element {
          --font-family: var(--component-font-family, var(--font-family-test));
          --font-size: var(--component-font-size, var(--font-size-test));
          --font-weight: var(--component-font-weight, var(--font-weight-test));
          --line-height: var(--component-line-height, var(--line-height-test));
        }
      }
    }
  }
  @include it("creates font variables for child elements of a compnent") {
    @include assert() {
      @include output() {
        .test-map-font-component-and-element {
          @include map-font($test-font-map, "component", "element");
        }
      }
      @include expect() {
        .test-map-font-component-and-element {
          --element-font-family: var(--component-element-font-family, var(--font-family-test));
          --element-font-size: var(--component-element-font-size, var(--font-size-test));
          --element-font-weight: var(--component-element-font-weight, var(--font-weight-test));
          --element-line-height: var(--component-element-line-height, var(--line-height-test));
        }
      }
    }
  }
  @include it("creates font properties for a compnent") {
    @include assert() {
      @include output() {
        .test-map-font-component-and-element {
          @include map-font($test-font-map, "component", $prop: true);
        }
      }
      @include expect() {
        .test-map-font-component-and-element {
          font-family: var(--component-font-family, var(--font-family-test));
          font-size: var(--component-font-size, var(--font-size-test));
          font-weight: var(--component-font-weight, var(--font-weight-test));
          line-height: var(--component-line-height, var(--line-height-test));
        }
      }
    }
  }
  @include it("font properties for child elements of a compnent") {
    @include assert() {
      @include output() {
        .test-map-font-component-and-element {
          @include map-font($test-font-map, "component", "element", true);
        }
      }
      @include expect() {
        .test-map-font-component-and-element {
          font-family: var(--component-element-font-family, var(--font-family-test));
          font-size: var(--component-element-font-size, var(--font-size-test));
          font-weight: var(--component-element-font-weight, var(--font-weight-test));
          line-height: var(--component-element-line-height, var(--line-height-test));
        }
      }
    }
  }
}

@include describe("font mixin") {
  @include it("creates font shorthand property for a class") {
    @include assert() {
      @include output() {
        .test-default-font {
          @include font();
        }
        .test-component-font {
          @include font("component");
        }
      }
      @include expect() {
        .test-default-font {
          font: var(--font-weight) var(--font-size) / var(--line-height) var(--font-family);
        }
        .test-component-font {
          font: var(--component-font-weight) var(--component-font-size) / var(--component-line-height) var(--component-font-family);
        }
      }
    }
  }
  @include it("creates font properties for a class") {
    @include assert() {
      @include output() {
        .test-default-font {
          @include font($short: false);
        }
        .test-component-font {
          @include font("component", false);
        }
      }
      @include expect() {
        .test-default-font {
          font-family: var(--font-family);
          font-size: var(--font-size);
          font-weight: var(--font-weight);
          line-height: var(--line-height);
        }
        .test-component-font {
          font-family: var(--component-font-family);
          font-size: var(--component-font-size);
          font-weight: var(--component-font-weight);
          line-height: var(--component-line-height);
        }
      }
    }
  }
}

@include describe("font-size & line-height mixins") {
  @include it("create font-size & line height properties with default variables.") {
    @include assert() {
      @include output() {
        .test-default-font-size {
          @include font-size();
        }
        .test-font-size-var {
          @include font-size($component: "component");
        }
        .test-default-line-height {
          @include line-height();
        }
        .test-line-height-var {
          @include line-height($component: "component");
        }
      }
      @include expect() {
        .test-default-font-size {
          font-size: var(--font-size);
        }
        .test-font-size-var {
          font-size: var(--component-font-size);
        }
        .test-default-line-height {
          line-height: var(--line-height);
        }
        .test-line-height-var {
          line-height: var(--component-line-height);
        }
      }
    }
  }
  @include it("applies clamp to font size values") {
    @include assert() {
      @include output() {
        .test-font-size-px {
          @include font-size(64px);
        }
        .test-font-size-rem {
          @include font-size(4rem);
        }
        .test-line-height-px {
          @include line-height(64px);
        }
        .test-line-height-rem {
          @include line-height(4rem);
        }
      }
      @include expect() {
        .test-font-size-px {
          font-size: #{cx-clamp(64px)};
        }
        .test-font-size-rem {
          font-size: #{cx-clamp(4rem)};
        }
        .test-line-height-px {
          line-height: #{cx-clamp(64px)};
        }
        .test-line-height-rem {
          line-height: #{cx-clamp(4rem)};
        }
      }
    }
  }
}
// stylelint-enable property-disallowed-list
