//
// Text Truncate Mixin
//
// Truncates text that overflows its container with an ellipsis.
//

// scss-docs-start text-truncate-mixin
/// Truncate text that overflows its container with an ellipsis.
/// Requires the element to be `display: inline-block` or `display: block`.
@mixin text-truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
// scss-docs-end text-truncate-mixin
