/// Truncate text that overflows its container with an ellipsis.
/// Requires the element to be `display: inline-block` or `display: block`.
@mixin text-truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
