@use "../config" as *;
@use "../tokens" as *;

//
// Border Maps
//
// Sass maps of named border values used by the border system.
//

// scss-docs-start border-widths-map
$border-widths: (
  zero:         $border-width-zero,
  sm:           $border-width-small,
  md:           $border-width-medium,
  lg:           $border-width-large,
  xl:           $border-width-xlarge,
  2xl:          $border-width-2xlarge,
) !default;
// scss-docs-end border-widths-map

// scss-docs-start border-radii-map
$border-radii: (
  zero:         $border-radius-zero,
  xs:           $border-radius-xsmall,
  sm:           $border-radius-small,
  md:           $border-radius-medium,
  lg:           $border-radius-large,
  xl:           $border-radius-xlarge,
  2xl:          $border-radius-2xlarge,
  3xl:          $border-radius-3xlarge,
  full:         $border-radius-full,
  circle:       50%,
) !default;
// scss-docs-end border-radii-map

