@use "../config" as *;
@use "../tokens" as *;

//
// Spacing Maps
//
// Sass maps of named spacing values used by the spacing system and components.
//

// scss-docs-start spaces-map
$spaces: (
  zero:           $space-zero,
  4xs:            $space-4xsmall,
  3xs:            $space-3xsmall,
  2xs:            $space-2xsmall,
  xs:             $space-xsmall,
  sm:             $space-small,
  md:             $space-medium,
  lg:             $space-large,
  xl:             $space-xlarge,
  2xl:            $space-2xlarge,
  3xl:            $space-3xlarge,
  4xl:            $space-4xlarge,
  5xl:            $space-5xlarge,
  6xl:            $space-6xlarge,
) !default;
// scss-docs-end spaces-map

// scss-docs-start gutters-map
$gutters: $spaces !default;
// scss-docs-end gutters-map
