@use "sass:map";
@use "./config" as *;
@use "./maps" as *;
@use "./mixins" as *;
@use "./rfs" as *;

// custom scale ratio for jumbo and hero
// $clamp-font-size-scale: .6; // stylelint-disable-line scss/dollar-variable-default

//
// Typography
//
// Class-based counterparts for native heading elements (.h1–.h6), display sizes,
// lead text, blockquote, and helper classes for lists and inline text styles.
//

@layer content {
  //
  // Lists
  //
  ul,
  ol {
    &.bulletless { // stylelint-disable-line selector-no-qualifying-type
      @include bulletless();
    }
    &.inline { // stylelint-disable-line selector-no-qualifying-type
      @include bulletless();

      li {
        display: inline-block;

        &:not(:last-child) {
          margin-inline-end: $list-inline-padding;
        }
      }
    }
  }

  // Context font classes
  @each $name, $value in $context-fonts {
    .font-#{$name} {
      // preserve the original scale ratio
      $-scale: $clamp-font-size-scale;
      // override the scale ratio for jumbo and hero
      @if $name == jumbo or $name == hero {
        $clamp-font-size-scale: $clamp-hero-jumbo-scale !global;
      }
      // apply the font properties from the map
      font-family: map.get($value, "font-family");
      font-style: map.get($value, "font-style");
      @include clamp(map.get($value, "font-size"), font-size);
      @include clamp(map.get($value, "line-height"), line-height);
      font-weight: map.get($value, "font-weight");
      text-decoration: map.get($value, "text-decoration");
      text-transform: map.get($value, "text-transform");
      letter-spacing: map.get($value, "letter-spacing");
      // restore the original scale ratio
      $clamp-font-size-scale: $-scale !global;
    }
  }

  // Blockquotes
  .blockquote {
    $font-family: map.get($blockquote-font, "font-family");
    $font-size: map.get($blockquote-font, "font-size");
    $line-height: map.get($blockquote-font, "line-height");
    $font-weight: map.get($blockquote-font, "font-weight");
    $font-style: map.get($blockquote-font, "font-style");

    margin-block-end: $blockquote-margin-y;
    font: $font-style $font-weight #{$font-size} / #{$line-height} $font-family;

    @include last-mb-0();
  }

  .attribution {
    $font-family: map.get($attribution-font, "font-family");
    $font-size: map.get($attribution-font, "font-size");
    $line-height: map.get($attribution-font, "line-height");
    $font-weight: map.get($attribution-font, "font-weight");
    $font-style: map.get($attribution-font, "font-style");

    font: $font-style $font-weight #{$font-size} / #{$line-height} $font-family;
    color: $attribution-color;

    &::before {
      content: "\2014\00A0"; // em dash, nbsp
    }

    .blockquote + & {
      margin-block-start: -$blockquote-margin-y;
      margin-block-end: $blockquote-margin-y;
    }
  }

  .font-initials {
    font-size: $small-font-size; //stylelint-disable-line property-disallowed-list
    text-transform: uppercase;
  }

  .font-monospace {
    font-family: #{$code-font-family};
  }

} // @layer content
