@use "../config" as *;
@use "../tokens" as *;

//
// Border Maps
//
// Sass maps of named border values used by the border system.
//

// scss-docs-start border-widths-map
$border-widths: (
  zero:         $border-width-zero,
  small:        $border-width-small,
  medium:       $border-width-medium,
  large:        $border-width-large,
  xlarge:       $border-width-xlarge,
  2xlarge:      $border-width-2xlarge,
) !default;
// scss-docs-end border-widths-map

// scss-docs-start border-radii-map
$border-radii: (
  zero:         $border-radius-zero,
  xsmall:       $border-radius-xsmall,
  small:        $border-radius-small,
  medium:       $border-radius-medium,
  large:        $border-radius-large,
  xlarge:       $border-radius-xlarge,
  2xlarge:      $border-radius-2xlarge,
  3xlarge:      $border-radius-3xlarge,
  full:         $border-radius-full,
  circle:       50%,
) !default;
// scss-docs-end border-radii-map

