@use "../config" as *;
@use "../tokens" as *;

//
// Sizing Maps
//
// Sass maps of named sizing values used by the sizing system and components.
//

// scss-docs-start sizing-map
$sizes: (
  2xs:              $size-2xsmall,
  xs:               $size-xsmall,
  sm:               $size-small,
  md:               $size-medium,
  lg:               $size-large,
  xl:               $size-xlarge,
  2xl:              $size-2xlarge,
) !default;
// scss-docs-end sizing-map

// scss-docs-start icon-sizes-map
$icon-sizes: (
  4xl:              $icon-4xlarge,
  3xl:              $icon-3xlarge,
  2xl:              $icon-2xlarge,
  xl:               $icon-xlarge,
  lg:               $icon-large,
  md:               $icon-medium,
  sm:               $icon-small,
  xs:               $icon-xsmall,
  2xs:              $icon-2xsmall,
  3xs:              $icon-3xsmall,
) !default;
// scss-docs-end icon-sizes-map

// scss-docs-start spinner-sizes-map
$spinner-sizes:     $icon-sizes !default;
// scss-docs-end spinner-sizes-map
