@use "../config" as *;
@use "../tokens" as *;

//
// Sizing Maps
//
// Sass maps of named sizing values used by the sizing system and components.
//

// scss-docs-start sizing-map
$sizes: (
  2xsmall:          $size-2xsmall,
  xsmall:           $size-xsmall,
  small:            $size-small,
  medium:           $size-medium,
  large:            $size-large,
  xlarge:           $size-xlarge,
  2xlarge:          $size-2xlarge,
) !default;
// scss-docs-end sizing-map

// scss-docs-start icon-sizes-map
$icon-sizes: (
  4xlarge:          $icon-4xlarge,
  3xlarge:          $icon-3xlarge,
  2xlarge:          $icon-2xlarge,
  xlarge:           $icon-xlarge,
  large:            $icon-large,
  medium:           $icon-medium,
  small:            $icon-small,
  xsmall:           $icon-xsmall,
  2xsmall:          $icon-2xsmall,
  3xsmall:          $icon-3xsmall,
) !default;
// scss-docs-end icon-sizes-map

// scss-docs-start spinner-sizes-map
$spinner-sizes:     $icon-sizes !default;
// scss-docs-end spinner-sizes-map
