@use "../config" as *;
@use "../tokens" as *;

//
// Spacing Maps
//
// Sass maps of named spacing values used by the spacing system and components.
//

// scss-docs-start spaces-map
$spaces: (
  zero:           $space-zero,
  4xsmall:        $space-4xsmall,
  3xsmall:        $space-3xsmall,
  2xsmall:        $space-2xsmall,
  xsmall:         $space-xsmall,
  small:          $space-small,
  medium:         $space-medium,
  large:          $space-large,
  xlarge:         $space-xlarge,
  2xlarge:        $space-2xlarge,
  3xlarge:        $space-3xlarge,
  4xlarge:        $space-4xlarge,
  5xlarge:        $space-5xlarge,
  6xlarge:        $space-6xlarge,
) !default;
// scss-docs-end spaces-map

// scss-docs-start gutters-map
$gutters: $spaces !default;
// scss-docs-end gutters-map
