@use "sass:map";
@use "../config" as *;
@use "../maps" as *;
@use "../functions" as *;

//
// Border Utilities
//
// Utility map for border-width, border-style, border-color, and border-radius
// classes.
//

$utilities: (
  // scss-docs-start utils-borders
  "border": (
    property: border,
    values: (
      null: var(--border-width) var(--border-style) var(--border-color),
      0: 0,
    )
  ),
  "border-top": (
    class: border-top,
    property: border-block-start,
    values: (
      null: var(--border-width) var(--border-style) var(--border-color),
      0: 0,
    )
  ),
  "border-end": (
    class: border-end,
    property: border-inline-end,
    values: (
      null: var(--border-width) var(--border-style) var(--border-color),
      0: 0,
    )
  ),
  "border-bottom": (
    class: border-bottom,
    property: border-block-end,
    values: (
      null: var(--border-width) var(--border-style) var(--border-color),
      0: 0,
    )
  ),
  "border-start": (
    class: border-start,
    property: border-inline-start,
    values: (
      null: var(--border-width) var(--border-style) var(--border-color),
      0: 0,
    )
  ),
  "border-color": (
    property: (
      "border-color": var(--border-color),
      "--border-color": null
    ),
    class: null,
    group: true,
    // values: map-loop($context-colors, opacity-var, #{"$key"}, #{"border"})
    values: map-merge-multiple(
      map-rename-keys(map-loop($context-colors, opacity-var, #{"$key"}, #{"border"}), "border-", "start"),
      map-loop($context-border-colors, varify, #{"$key"}),
      map-loop($body-border-colors, varify, #{"$key"}),
      ( "border-reset": inherit )
    )
  ),
  "border-width": (
    property: border-width,
    class: border,
    values: map-loop($border-widths, varify, "$key", "border-width")
  ),
  "border-opacity": (
    property: --border-opacity,
    class: border-opacity,
    enabled: $enable-property-opacities,
    values: map-merge-multiple(
      map-loop($opacities, varify, "$key", "opacity"),
      map-loop($border-opacities, varify, "$key", "opacity-border")
    )
  ),
  // scss-docs-end utils-borders
  // scss-docs-start utils-border-radius
  "rounded": (
    property: border-radius,
    class: rounded,
    values: map.merge(
      (
        null: var(--border-radius)
      ),
      map-loop($border-radii, varify, "$key", "border-radius")
    )
  ),
  "rounded-top": (
    property: border-start-start-radius border-start-end-radius,
    class: rounded-top,
    values: map.merge(
      (
        null: var(--border-radius)
      ),
      map-loop($border-radii, varify, "$key", "border-radius")
    )
  ),
  "rounded-end": (
    property: border-start-end-radius border-end-end-radius,
    class: rounded-end,
    values: map.merge(
      (
        null: var(--border-radius)
      ),
      map-loop($border-radii, varify, "$key", "border-radius")
    )
  ),
  "rounded-bottom": (
    property: border-end-end-radius border-end-start-radius,
    class: rounded-bottom,
    values: map.merge(
      (
        null: var(--border-radius)
      ),
      map-loop($border-radii, varify, "$key", "border-radius")
    )
  ),
  "rounded-start": (
    property: border-end-start-radius border-start-start-radius,
    class: rounded-start,
    values: map.merge(
      (
        null: var(--border-radius)
      ),
      map-loop($border-radii, varify, "$key", "border-radius")
    )
  ),
  // scss-docs-end utils-border-radius
  "border-style": (
    property: border-style,
    class: border-style,
    values: (inherit, none, solid, dashed)
  )
) !default;
