@use "../../../css/scss/config/vendor" as *;
@use "../../../css/scss/tokens" as *;
@use "../../../css/scss/config/defaults" as *;

// stylelint-disable
:export {
  baseFontSize: $font-size-root;
  // Colors
  colorPrimary: $primary;
  colorSecondary: $secondary;
  colorNeutral: $neutral;
  colorDanger: $danger;
  colorSuccess: $success;
  colorWarning: $warning;
  colorInfo: $info;
  // Spacing
  spaceZero: $space-zero;
  space4xsmall: $space-4xsmall;
  space3xsmall: $space-3xsmall;
  space2xsmall: $space-2xsmall;
  spaceXsmall: $space-xsmall;
  spaceSmall: $space-small;
  spaceMedium: $space-medium;
  spaceLarge: $space-large;
  spaceXlarge: $space-xlarge;
  space2xlarge: $space-2xlarge;
  space3xlarge: $space-3xlarge;
  space4xlarge: $space-4xlarge;
  space5xlarge: $space-5xlarge;
  space6xlarge: $space-6xlarge;
  // Breakpoints
  breakpoint2xlarge: $breakpoint-2xlarge;
  breakpointXlarge: $breakpoint-xlarge;
  breakpointLarge: $breakpoint-large;
  breakpointMedium: $breakpoint-medium;
  breakpointSmall: $breakpoint-small;
  // Containers
  container2xlarge: $container-2xlarge;
  containerXlarge: $container-xlarge;
  containerLarge: $container-large;
  containerMedium: $container-medium;
  containerSmall: $container-small;
  // Grid
  gutterXsmall: $gutter-xsmall;
  gutterSmall: $gutter-small;
  gutterMedium: $gutter-medium;
  gutterLarge: $gutter-large;
  gutterXlarge: $gutter-xlarge;
  gutter2xlarge: $gutter-2xlarge;
  marginXsmall: $margin-xsmall;
  marginSmall: $margin-small;
  marginMedium: $margin-medium;
  marginLarge: $margin-large;
  marginXlarge: $margin-xlarge;
  margin2xlarge: $margin-2xlarge;
  columnsXsmall: $columns-xsmall;
  columnsSmall: $columns-small;
  columnsMedium: $columns-medium;
  columnsLarge: $columns-large;
  columnsXlarge: $columns-xlarge;
  columns2xlarge: $columns-2xlarge;
  // Modal
  modalSmall: $modal-small-width;
  modalMedium: $modal-medium-width;
  modalLarge: $modal-large-width;
  modalXlarge: $modal-xlarge-width;

}
// stylelint-enable
