// Shared docs styles
@forward "@chassis-ui/docs/scss/main";

// @forward "../../../scss/forms/check-legacy";

// CSS docs styles
@forward "./examples";
@forward "./context-example";
@forward "./color-palette";
@forward "./colors";

@layer custom {

  .cxd-page-meta {
    margin-block-start: calc(var(--cx-space-md) * -1);
    margin-block-end: var(--cx-space-xl);
    &:has(+ :where(h2, h3)) {
      margin-block-end: calc(var(--cx-space-xl) * -1);
    }
  }

  .cxd-content > .cxd-reference-table {
    max-height: 480px;
    margin-block-end: var(--cx-space-xl);
    overflow-y: auto;

    > .table {
      margin-block-end: 0;
      > thead {
        position: sticky;
        top: 0;
        z-index: 1;
      }
    }

  }

} // @layer custom
