---
import FeatureCard from '@chassis-ui/docs/components/FeatureCard.astro'
---

<section class="home-section py-3xlarge medium:py-6xlarge">
  <div class="container 2xlarge section-content">
    <div class="row mb-3xlarge medium:mb-6xlarge">
      <header class="section-header col large:col-10 xlarge:col-8 text-center mx-auto">
        <h2
          class="section-title font-3xlarge medium:font-4xlarge large:font-5xlarge mb-xsmall medium:mb-small large:mb-medium"
        >
          <span class="font-normal d-block">Built on</span> Modern Standards
        </h2>
        <p class="section-body medium:font-large large:font-xlarge m-0">
          Powered by industry-standard tools and methodologies, Chassis CSS integrates seamlessly
          with your existing stack without vendor lock-in.
        </p>
      </header>
    </div>

    <div class="section-features row row-cols-2 medium:row-cols-4 g-medium medium:g-xlarge">
      <div class="col">
        <FeatureCard>
          <Fragment slot="title">SCSS</Fragment>
          <Fragment slot="body">Powerful styling</Fragment>
        </FeatureCard>
      </div>
      <div class="col">
        <FeatureCard>
          <Fragment slot="title">PostCSS</Fragment>
          <Fragment slot="body">Modern CSS processing</Fragment>
        </FeatureCard>
      </div>
      <div class="col">
        <FeatureCard>
          <Fragment slot="title">CSS Variables</Fragment>
          <Fragment slot="body">Runtime theming</Fragment>
        </FeatureCard>
      </div>
      <div class="col">
        <FeatureCard>
          <Fragment slot="title">RFS</Fragment>
          <Fragment slot="body">Responsive typography</Fragment>
        </FeatureCard>
      </div>
    </div>
  </div>
</section>
