//
// Clearfix Mixin
//
// Contains floated children within their parent using the ::after pseudo-element.
//

// scss-docs-start clearfix-mixin
/// Clear floats by adding a `::after` pseudo-element.
@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}
// scss-docs-end clearfix-mixin
