@use "../config" as *;
@use "../placeholders" as *;

//
// Input Adorn
//
// Leading or trailing icon, text, or button slot inside a `.form-input`,
// positioned before or after the `.ghost-input` element.
//

@layer components {
  .form-input:has(.input-adorn) {
    // scss-docs-start input-adorn-properties
    // --icon-color: var(--input-adorn-fg-color);
    // scss-docs-end input-adorn-properties

    display: flex;
    gap: var(--gap);
    // align-items: center;
    // text-align: center;
    white-space: nowrap;

    // Prevent default `.form-input` focus

    // Ghost input fills remaining space
    > .ghost-input {
      flex: 1;
      min-width: 0; // Prevent text overflow
    }
  }

  .input-adorn:is(button) {
    --button-icon-size: var(--input-icon-size, #{$form-medium-icon-size});
    min-width: auto;
    min-height: auto;
    padding: 0;
    margin: 0;
    background: none;
    border: 0;

  }

  .input-adorn,
  .input-adorn.valid-feedback,
  .input-adorn.invalid-feedback {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    // pointer-events: none;
    user-select: none;
    &:not(:has(.icon)) {
      // padding: var(--padding-y) var(--padding-x);
    }
    // > svg {
    //   width: var(--icon-size);
    //   height: var(--icon-size);
    // }
  }

} // @layer components
