---

---

<section class="bg-even py-6xlarge">
  <div class="container">
    <div class="row justify-content-center mb-5xlarge">
      <div class="col-large-8 text-center">
        <h2 class="font-hero mb-medium">Ready to Build?</h2>
        <p class="font-lead">
          Explore comprehensive documentation, examples, and guides to get started with Chassis CSS
          in your project.
        </p>
      </div>
    </div>
    <div class="row g-xlarge">
      <div class="col-medium-4">
        <h3 class="h4 mb-medium">Quick Start</h3>
        <ul class="list-unstyled">
          <li>
            <a href="/getting-started/introduction" class="text-context-default-fg-main"
              >Introduction</a
            >
          </li>
          <li>
            <a href="/getting-started/download" class="text-context-default-fg-main">Download</a>
          </li>
          <li>
            <a href="/getting-started/contents" class="text-context-default-fg-main">Contents</a>
          </li>
          <li>
            <a href="/getting-started/build-tools" class="text-context-default-fg-main"
              >Build Tools</a
            >
          </li>
        </ul>
      </div>
      <div class="col-medium-4">
        <h3 class="h4 mb-medium">Components</h3>
        <ul class="list-unstyled">
          <li>
            <a href="/components/accordion" class="text-context-default-fg-main">Accordion</a>
          </li>
          <li>
            <a href="/components/buttons" class="text-context-default-fg-main">Buttons</a>
          </li>
          <li>
            <a href="/components/cards" class="text-context-default-fg-main">Cards</a>
          </li>
          <li>
            <a href="/components/modal" class="text-context-default-fg-main">Modal</a>
          </li>
        </ul>
      </div>
      <div class="col-medium-4">
        <h3 class="h4 mb-medium">Resources</h3>
        <ul class="list-unstyled">
          <li>
            <a href="/css/docs/utilities" class="text-context-default-fg-main">Utilities</a>
          </li>
          <li>
            <a href="/css/docs/layout" class="text-context-default-fg-main">Layout</a>
          </li>
          <li>
            <a href="/css/docs/customize" class="text-context-default-fg-main">Customize</a>
          </li>
          <li>
            <a
              href="https://github.com/chassis-ui/css"
              class="text-context-default-fg-main"
              target="_blank">GitHub Repository</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
