@use "../config/vendor" as *;

//
// Border Tokens
//
// SCSS variables for border width and radius tokens, mapped from the vendor
// token set.
//

// scss-docs-start border-width-tokens
$border-width-zero:         $cx-border-width-context-zero !default;
$border-width-small:        $cx-border-width-context-small !default;
$border-width-medium:       $cx-border-width-context-medium !default;
$border-width-large:        $cx-border-width-context-large !default;
$border-width-xlarge:       $cx-border-width-context-xlarge !default;
$border-width-2xlarge:      $cx-border-width-context-2xlarge !default;
// scss-docs-end border-width-tokens

// scss-docs-start border-radius-tokens
$border-radius-zero:        $cx-border-radius-context-zero !default;
$border-radius-xsmall:      $cx-border-radius-context-xsmall !default;
$border-radius-small:       $cx-border-radius-context-small !default;
$border-radius-medium:      $cx-border-radius-context-medium !default;
$border-radius-large:       $cx-border-radius-context-large !default;
$border-radius-xlarge:      $cx-border-radius-context-xlarge !default;
$border-radius-2xlarge:     $cx-border-radius-context-2xlarge !default;
$border-radius-3xlarge:     $cx-border-radius-context-3xlarge !default;
$border-radius-full:        $cx-border-radius-context-full !default;
// scss-docs-end border-radius-tokens

