@use "../config/vendor" as *;

//
// Datepicker Tokens
//
// SCSS variables for date picker color and size tokens, mapped from the vendor
// token set.
//

$datepicker-fg-idle:            $cx-color-date-picker-fg-idle !default;
// $datepicker-bg-idle:            $cx-color-date-picker-bg-idle !default;
// $datepicker-fg-hover:           $cx-color-date-picker-fg-hover !default;
$datepicker-bg-hover:           $cx-color-date-picker-bg-hover !default;
// $datepicker-fg-press:           $cx-color-date-picker-fg-press !default;
// $datepicker-bg-press:           $cx-color-date-picker-bg-press !default;
$datepicker-fg-active:          $cx-color-date-picker-fg-active !default;
$datepicker-bg-active:          $cx-color-date-picker-bg-active !default;
$datepicker-fg-range:           $cx-color-date-picker-fg-range !default;
$datepicker-bg-range:           $cx-color-date-picker-bg-range !default;
$datepicker-fg-today:           $cx-color-date-picker-fg-today !default;
$datepicker-bg-today:           $cx-color-date-picker-bg-today !default;
$datepicker-fg-weekend:         $cx-color-date-picker-fg-weekend !default;
$datepicker-bg-weekend:         $cx-color-date-picker-bg-weekend !default;
$datepicker-fg-outside:         $cx-color-date-picker-fg-outside !default;
// $datepicker-bg-outside:         $cx-color-date-picker-bg-outside !default;
$datepicker-fg-main:            $cx-color-date-picker-fg-main !default;
$datepicker-bg-main:            $cx-color-date-picker-bg-main !default;
$datepicker-border-main:        $cx-color-date-picker-border-main !default;
// $datepicker-border-subtle:      $cx-color-date-picker-border-subtle !default;
$datepicker-border-radius-main: $cx-border-radius-date-picker-main !default;
$datepicker-border-radius-day:  $cx-border-radius-date-picker-day !default;
// $datepicker-border-radius-menu: $cx-border-radius-date-picker-menu !default;
$datepicker-font-day:           $cx-font-date-picker-day !default;
$datepicker-font-today:         $cx-font-date-picker-today !default;
$datepicker-font-label:         $cx-font-date-picker-label !default;
$datepicker-border-width-main:  $cx-border-width-date-picker-main !default;
$datepicker-shadow-main:        $cx-shadow-date-picker-main !default;
// $datepicker-day-width:          $cx-size-date-picker-day-width !default;
// $datepicker-day-height:         $cx-size-date-picker-day-height !default;
// $datepicker-week-width:         $cx-size-date-picker-week-width !default;
$datepicker-menu-width:         $cx-size-date-picker-menu-width !default;
$datepicker-padding-y:          $cx-space-date-picker-padding-y !default;
$datepicker-padding-x:          $cx-space-date-picker-padding-x !default;
// $datepicker-gap:                $cx-space-date-picker-gap !default;
