@use "../config/vendor" as *;

//
// Shadow Tokens
//
// SCSS variables for box-shadow elevation tokens, mapped from the vendor token
// set.
//

// scss-docs-start shadow-tokens
// scss-docs-start default-shadow-tokens
$shadow-default-95:         $cx-shadow-elevation-default-95 !default;
$shadow-default-90:         $cx-shadow-elevation-default-90 !default;
$shadow-default-80:         $cx-shadow-elevation-default-80 !default;
$shadow-default-70:         $cx-shadow-elevation-default-70 !default;
$shadow-default-60:         $cx-shadow-elevation-default-60 !default;
$shadow-default-50:         $cx-shadow-elevation-default-50 !default;
$shadow-default-40:         $cx-shadow-elevation-default-40 !default;
$shadow-default-30:         $cx-shadow-elevation-default-30 !default;
$shadow-default-20:         $cx-shadow-elevation-default-20 !default;
$shadow-default-10:         $cx-shadow-elevation-default-10 !default;
$shadow-default-05:         $cx-shadow-elevation-default-05 !default;
// scss-docs-end default-shadow-tokens
// scss-docs-start context-shadow-tokens
// $box-shadow-small:          $cx-shadow-context-small !default;
// $box-shadow-medium:         $cx-shadow-context-medium !default;
// $box-shadow-large:          $cx-shadow-context-large !default;
// $box-shadow-inset:          $cx-shadow-context-inset !default;
// $box-shadow-idle:           $cx-shadow-context-idle !default;
// $box-shadow-disabled:       $cx-shadow-context-disabled !default;
// $box-shadow-hover:          $cx-shadow-context-hover !default;
// $box-shadow-active:         $cx-shadow-context-press !default;
// $box-shadow-focus:          $cx-shadow-context-focus !default;
// $box-shadow-highlight:      $cx-shadow-context-highlight !default;
// scss-docs-end context-shadow-tokens
// scss-docs-end shadow-tokens
