@use "../config/vendor" as *;

//
// Spacing Tokens
//
// SCSS variables for the spacing scale tokens (zero through 4xlarge), mapped
// from the vendor token set.
//

// scss-docs-start spacing-tokens
$space-zero:          $cx-space-context-zero !default;
$space-4xsmall:       $cx-space-context-4xsmall !default;
$space-3xsmall:       $cx-space-context-3xsmall !default;
$space-2xsmall:       $cx-space-context-2xsmall !default;
$space-xsmall:        $cx-space-context-xsmall !default;
$space-small:         $cx-space-context-small !default;
$space-medium:        $cx-space-context-medium !default;
$space-large:         $cx-space-context-large !default;
$space-xlarge:        $cx-space-context-xlarge !default;
$space-2xlarge:       $cx-space-context-2xlarge !default;
$space-3xlarge:       $cx-space-context-3xlarge !default;
$space-4xlarge:       $cx-space-context-4xlarge !default;
$space-5xlarge:       $cx-space-context-5xlarge !default;
$space-6xlarge:       $cx-space-context-6xlarge !default;
// scss-docs-end spacing-tokens
