@each $color, $value in $context-colors {
  .link-#{$color} {
    color: to-opacity(var(--#{$prefix}#{$color}), var(--#{$prefix}link-opacity, 1)) if($enable-important-utilities, !important, null);
    text-decoration-color: to-opacity(var(--#{$prefix}#{$color}), var(--#{$prefix}underline-opacity, 1)) if($enable-important-utilities, !important, null);

    @if $link-shade-percentage != 0 {
      &:hover,
      &:focus {
        $hover-color: if(color-contrast($value) == $color-contrast-light, shade-color($value, $link-shade-percentage), tint-color($value, $link-shade-percentage));
        color: to-opacity($hover-color, var(--#{$prefix}link-opacity, 1)) if($enable-important-utilities, !important, null);
        text-decoration-color: to-opacity($hover-color, var(--#{$prefix}underline-opacity, 1)) if($enable-important-utilities, !important, null);
      }
    }
  }
}

