@each $color, $value in $context-colors {
  .bg-#{$color}.fg-contrast {
    color: #{to-opacity(var(--#{$prefix}#{$color}-contrast), var(--#{$prefix}fg-opacity, 1))} if($enable-important-utilities, !important, null);
    background-color: #{to-opacity(var(--#{$prefix}#{$color}), var(--#{$prefix}bg-opacity, 1))} if($enable-important-utilities, !important, null);
  }
  .fg-#{$color}.bg-contrast {
    color: #{to-opacity(var(--#{$prefix}#{$color}), var(--#{$prefix}fg-opacity, 1))} if($enable-important-utilities, !important, null);
    background-color: #{to-opacity(var(--#{$prefix}#{$color}-contrast), var(--#{$prefix}bg-opacity, 1))} if($enable-important-utilities, !important, null);
  }
}

@each $color, $value in $context-colors {
  .bg-#{$color}.fg-a11y {
    color: #{color-contrast($value)} if($enable-important-utilities, !important, null);
    background-color: #{to-opacity(var(--#{$prefix}#{$color}), var(--#{$prefix}bg-opacity, 1))} if($enable-important-utilities, !important, null);
  }
  .fg-#{$color}.bg-a11y {
    color: #{to-opacity(var(--#{$prefix}#{$color}), var(--#{$prefix}fg-opacity, 1))} if($enable-important-utilities, !important, null);
    background-color: #{color-contrast($value)} if($enable-important-utilities, !important, null);
  }
}

@include color-mode(dark) {
  @each $color, $value in $context-colors-dark {
    .bg-#{$color}.fg-a11y {
      color: #{color-contrast($value)} if($enable-important-utilities, !important, null);
      background-color: #{to-opacity(var(--#{$prefix}#{$color}), var(--#{$prefix}bg-opacity, 1))} if($enable-important-utilities, !important, null);
    }
    .fg-#{$color}.bg-a11y {
      color: #{to-opacity(var(--#{$prefix}#{$color}), var(--#{$prefix}fg-opacity, 1))} if($enable-important-utilities, !important, null);
      background-color: #{color-contrast($value)} if($enable-important-utilities, !important, null);
    }
  }
}
