@import "clearfix";
@import "contrast";
@import "links";
@import "focus-ring";
@import "context";
@import "icon-link";
@import "ratio";
@import "position";
@import "shadow";
@import "stacks";
@import "visually-hidden";
@import "text-truncation";
@import "vr";

.last-mb-0 > p:last-child {
  margin-bottom: 0;
}

.last-mb-reset > p:last-child {
  margin-bottom: revert !important; // stylelint-disable-line declaration-no-important
}

@each $name, $value in map-merge($context-dim-colors, $body-dim-colors) {
  .#{$name} {
    background-color: var(--#{$prefix}#{$name});
  }
}

@each $name, $value in $context-link-colors {
  .#{$name} {
    color: var(--#{$prefix}#{$name}, $value);
  }
}
