@each $color, $value in $context-colors {
  .link-#{$color} {
    @extend %link-color;
    --#{$prefix}link-main-color: var(--#{$prefix}#{$color}-link-main);

    &:hover,
    &:focus {
      --#{$prefix}link-main-color: var(--#{$prefix}#{$color}-link-hover);
    }

    &:active {
      --#{$prefix}link-main-color: var(--#{$prefix}#{$color}-link-active);
    }

    @if ($enable-visited-links) {
      &:visited {
        --#{$prefix}link-main-color: var(--#{$prefix}#{$color}-link-visited);
      }
    }

  }
}

.link-body {
  @extend %link-color;
  --#{$prefix}link-main-color: var(--#{$prefix}fg-main);

  &:hover,
  &:focus {
    --#{$prefix}link-main-color: var(--#{$prefix}fg-main);
  }

  &:active {
    --#{$prefix}link-main-color: var(--#{$prefix}link-main);
  }

}

.stretched-link {
  &::#{$stretched-link-pseudo-element} {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $stretched-link-z-index;
    content: "";
  }
}


.link-icon {
  display: inline-flex;
  gap: $icon-link-gap;
  align-items: center;
  text-decoration-color: #{to-opacity(var(--#{$prefix}link-main-color), var(--#{$prefix}link-opacity, .5))};
  text-underline-offset: $icon-text-underline-offset;
  backface-visibility: hidden;

  > .icon {
    flex-shrink: 0;
    width: $icon-link-icon-size;
    height: $icon-link-icon-size;
    fill: currentcolor;
    @include transition($icon-link-icon-transition);
  }
}

.link-icon-hover {
  &:hover,
  &:focus-visible {
    > .icon {
      transform: var(--#{$prefix}icon-link-transform, $icon-link-icon-transform);
    }
  }
}
