@use "sass:map";
@use "../config" as *;

//
// Grid Utilities
//
// Utility map for grid layout, column counts, and auto-flow classes.
//

// `grid-cols-{1…$grid-columns}`, with the declaration of Tailwind's utility
// of the same name.
$-grid-column-counts: () !default;
@for $i from 1 through $grid-columns {
  $-grid-column-counts: map.set($-grid-column-counts, $i, repeat(#{$i}, minmax(0, 1fr)));
}

$utilities: (
  // scss-docs-start utils-grid
  "grid-column-counts": (
    responsive: true,
    property: grid-template-columns,
    class: grid-cols,
    values: $-grid-column-counts
  ),
  "grid-auto-flow": (
    responsive: true,
    property: grid-auto-flow,
    class: grid-auto-flow,
    values: row column dense
  ),
  // scss-docs-end utils-grid
) !default;
