@use "../config/vendor" as *;

//
// Alert Tokens
//
// SCSS variables for alert icon size tokens, mapped from the vendor token set.
//

// scss-docs-start alert-tokens
$alert-icon-size-large:             $cx-size-alert-large-icon !default;
$alert-icon-size-small:             $cx-size-alert-small-icon !default;
$alert-large-padding-y:             $cx-space-alert-large-padding-y !default;
$alert-large-padding-x:             $cx-space-alert-large-padding-x !default;
$alert-large-main-gap:              $cx-space-alert-large-gap-main !default;
$alert-large-body-gap:              $cx-space-alert-large-gap-body !default;
$alert-small-padding-y:             $cx-space-alert-small-padding-y !default;
$alert-small-padding-x:             $cx-space-alert-small-padding-x !default;
$alert-small-main-gap:              $cx-space-alert-small-gap-main !default;
$alert-small-body-gap:              $cx-space-alert-small-gap-body !default;
$alert-border-radius:               $cx-border-radius-alert-main !default;
$alert-border-width:                $cx-border-width-alert-main !default;
$alert-large-font-title:            $cx-font-alert-large-title !default;
$alert-large-font-body:             $cx-font-alert-large-body !default;
$alert-small-font-title:            $cx-font-alert-small-title !default;
$alert-small-font-body:             $cx-font-alert-small-body !default;
$alert-box-shadow:                  $cx-shadow-alert-main !default;
// scss-docs-end alert-tokens
