@use "../config/vendor" as *;

//
// Datepicker Tokens
//
// SCSS variables for date picker color and size tokens, mapped from the vendor
// token set.
//

// scss-docs-start datepicker-tokens
$datepicker-fg-idle:            $cx-color-datepicker-fg-idle !default;
// $datepicker-bg-idle:            $cx-color-datepicker-bg-idle !default;
// $datepicker-fg-hover:           $cx-color-datepicker-fg-hover !default;
$datepicker-bg-hover:           $cx-color-datepicker-bg-hover !default;
// $datepicker-fg-press:           $cx-color-datepicker-fg-press !default;
// $datepicker-bg-press:           $cx-color-datepicker-bg-press !default;
$datepicker-fg-active:          $cx-color-datepicker-fg-active !default;
$datepicker-bg-active:          $cx-color-datepicker-bg-active !default;
$datepicker-fg-range:           $cx-color-datepicker-fg-range !default;
$datepicker-bg-range:           $cx-color-datepicker-bg-range !default;
$datepicker-fg-today:           $cx-color-datepicker-fg-today !default;
$datepicker-bg-today:           $cx-color-datepicker-bg-today !default;
$datepicker-fg-weekend:         $cx-color-datepicker-fg-weekend !default;
$datepicker-bg-weekend:         $cx-color-datepicker-bg-weekend !default;
$datepicker-fg-outside:         $cx-color-datepicker-fg-outside !default;
// $datepicker-bg-outside:         $cx-color-datepicker-bg-outside !default;
$datepicker-fg-main:            $cx-color-datepicker-fg-main !default;
$datepicker-bg-main:            $cx-color-datepicker-bg-main !default;
$datepicker-border-main:        $cx-color-datepicker-border-main !default;
// $datepicker-border-subtle:      $cx-color-datepicker-border-subtle !default;
$datepicker-border-radius-main: $cx-border-radius-datepicker-main !default;
$datepicker-border-radius-day:  $cx-border-radius-datepicker-day !default;
// $datepicker-border-radius-menu: $cx-border-radius-datepicker-menu !default;
$datepicker-font-day:           $cx-font-datepicker-day !default;
$datepicker-font-today:         $cx-font-datepicker-today !default;
$datepicker-font-label:         $cx-font-datepicker-label !default;
$datepicker-border-width-main:  $cx-border-width-datepicker-main !default;
$datepicker-shadow-main:        $cx-shadow-datepicker-main !default;
$datepicker-day-width:          $cx-size-datepicker-day-width !default;
// $datepicker-day-height:         $cx-size-datepicker-day-height !default;
$datepicker-week-width:         $cx-size-datepicker-week-width !default;
// $datepicker-menu-width:         $cx-size-datepicker-menu-width !default;
$datepicker-padding-y:          $cx-space-datepicker-padding-y !default;
$datepicker-padding-x:          $cx-space-datepicker-padding-x !default;
$datepicker-gap:                $cx-space-datepicker-gap !default;
// scss-docs-end datepicker-tokens
