@use "../config/vendor" as *;

//
// Breakpoint Tokens
//
// SCSS variables for grid breakpoint values, mapped from the vendor token set.
//

// scss-docs-start breakpoint-tokens
$breakpoint-2xlarge:      $cx-grid-breakpoint-2xlarge !default;
$breakpoint-xlarge:       $cx-grid-breakpoint-xlarge !default;
$breakpoint-large:        $cx-grid-breakpoint-large !default;
$breakpoint-medium:       $cx-grid-breakpoint-medium !default;
$breakpoint-small:        $cx-grid-breakpoint-small !default;
// scss-docs-end breakpoint-tokens
// $breakpoint-xsmall:      $cx-grid-breakpoint-xsmall !default;
// scss-docs-start container-tokens
$container-2xlarge:       $cx-grid-container-2xlarge !default;
$container-xlarge:        $cx-grid-container-xlarge !default;
$container-large:         $cx-grid-container-large !default;
$container-medium:        $cx-grid-container-medium !default;
$container-small:         $cx-grid-container-small !default;
// scss-docs-end container-tokens
// scss-docs-start gutter-tokens
// $gutter-2xlarge:         $cx-grid-gutter-2xlarge !default;
// $gutter-xlarge:          $cx-grid-gutter-xlarge !default;
// $gutter-large:           $cx-grid-gutter-large !default;
// $gutter-medium:           $cx-grid-gutter-medium !default;
// $gutter-small:           $cx-grid-gutter-small !default;
// $gutter-xsmall:          $cx-grid-gutter-xsmall !default;
// scss-docs-end gutter-tokens
