@use "../config/vendor" as *;

//
// Icon Tokens
//
// SCSS variables for icon size tokens across all scale steps, mapped from the
// vendor token set.
//

// scss-docs-start icon-size-tokens
$icon-4xlarge:      $cx-size-icon-glyph-4xlarge !default;
$icon-3xlarge:      $cx-size-icon-glyph-3xlarge !default;
$icon-2xlarge:      $cx-size-icon-glyph-2xlarge !default;
$icon-xlarge:       $cx-size-icon-glyph-xlarge !default;
$icon-large:        $cx-size-icon-glyph-large !default;
$icon-medium:       $cx-size-icon-glyph-medium !default;
$icon-small:        $cx-size-icon-glyph-small !default;
$icon-xsmall:       $cx-size-icon-glyph-xsmall !default;
$icon-2xsmall:      $cx-size-icon-glyph-2xsmall !default;
$icon-3xsmall:      $cx-size-icon-glyph-3xsmall !default;
// scss-docs-end icon-size-tokens

