@use "../config/vendor" as *;

//
// Modal Tokens
//
// SCSS variables for modal window size and spacing tokens, mapped from the
// vendor token set.
//

// scss-docs-start modal-tokens
$modal-xlarge-width:            $cx-size-modal-window-xlarge-w !default;
$modal-large-width:             $cx-size-modal-window-large-w !default;
$modal-medium-width:            $cx-size-modal-window-medium-w !default;
$modal-small-width:             $cx-size-modal-window-small-w !default;
$modal-large-padding-y:         $cx-space-modal-large-padding-y !default;
$modal-large-padding-x:         $cx-space-modal-large-padding-x !default;
$modal-large-gap:               $cx-space-modal-large-gap !default;
$modal-medium-padding-y:        $cx-space-modal-medium-padding-y !default;
$modal-medium-padding-x:        $cx-space-modal-medium-padding-x !default;
$modal-medium-gap:              $cx-space-modal-medium-gap !default;
$modal-small-padding-y:         $cx-space-modal-small-padding-y !default;
$modal-small-padding-x:         $cx-space-modal-small-padding-x !default;
$modal-small-gap:               $cx-space-modal-small-gap !default;
$modal-medium-title-font:       $cx-font-modal-medium-title !default;
$modal-small-title-font:        $cx-font-modal-small-title !default;
$modal-box-shadow:              $cx-shadow-modal-main !default;
// scss-docs-end modal-tokens

// Not implemented
// $modal-large-title-font:        $cx-font-modal-large-title !default;
// $modal-large-subtitle-font:     $cx-font-modal-large-subtitle !default;
// $modal-medium-subtitle-font:    $cx-font-modal-medium-subtitle !default;
// $modal-small-subtitle-font:     $cx-font-modal-small-subtitle !default;
// $modal-xlarge-height:           $cx-size-modal-window-xlarge-h !default;
// $modal-large-height:            $cx-size-modal-window-large-h !default;
// $modal-medium-height:           $cx-size-modal-window-medium-h !default;
// $modal-small-height:            $cx-size-modal-window-small-h !default;
