@use "../config/vendor" as *;

//
// Sizing Tokens
//
// SCSS variables for the size scale tokens (2xsmall through 2xlarge), mapped
// from the vendor token set.
//

// scss-docs-start pagination-tokens
$pagination-dot-idle-color:         $cx-color-pagination-dot-idle !default;
$pagination-dot-active-color:       $cx-color-pagination-dot-active !default;
$pagination-dot-gap:                $cx-space-pagination-dot-gap !default;
$pagination-dot-idle-height:        $cx-size-pagination-dot-idle-h !default;
$pagination-dot-idle-width:         $cx-size-pagination-dot-idle-w !default;
$pagination-dot-active-height:      $cx-size-pagination-dot-active-h !default;
$pagination-dot-active-width:       $cx-size-pagination-dot-active-w !default;
$pagination-dot-idle-radius:        $cx-border-radius-pagination-dot-idle !default;
$pagination-dot-active-radius:      $cx-border-radius-pagination-dot-active !default;
// scss-docs-end pagination-tokens
// $pagination-button-radius:          $cx-border-radius-pagination-button !default;
