@use "../config/vendor" as *;

//
// Sizing Tokens
//
// SCSS variables for the size scale tokens (2xsmall through 2xlarge), mapped
// from the vendor token set.
//

// scss-docs-start size-tokens
$size-2xlarge:        $cx-size-context-2xlarge !default;
$size-xlarge:         $cx-size-context-xlarge !default;
$size-large:          $cx-size-context-large !default;
$size-medium:         $cx-size-context-medium !default;
$size-small:          $cx-size-context-small !default;
$size-xsmall:         $cx-size-context-xsmall !default;
$size-2xsmall:        $cx-size-context-2xsmall !default;
// scss-docs-end size-tokens
// scss-docs-start asset-tokens
$separator-size:       $cx-size-asset-separator !default;
$indicator-size:       $cx-size-asset-indicator !default;
// scss-docs-end asset-tokens
